// city west
.animblock {
    &__item--city-west {
        .sign {
            width: $huge*3+13px;
            top: 252px;
            left: 0;
            // .sign
        }

        .plane {
            width: $huge+8;
            top: 190px;
            left: 50px;
            z-index: 999;
            & *{
                z-index: 999;
            }
            // .plane
        }

        .digital {
            top: 349px;
            left: 129px;

            >:nth-child(1) {
                width: $huge*2+7;
            }

            >:nth-child(2) {
                width: $huge*2+7;
            }

            >:nth-child(3) {
                width: $huge*2+7;
            }

            // .digital
        }

        .truck {
            width: $huge*2+20;
            top: 331px;
            left: 192px;

            // .truck
        }

        .cones {
            top: 322px;
            left: 97px;

            >:nth-child(1) {
                width: $big+$small;
            }

            >:nth-child(2) {
                width: $big+$small;
                top: -11px;
                left: 20px;
            }

            >:nth-child(3) {
                width: $big+$small;
                top: -21px;
                left: 42px;
            }

            // .cones
        }

        // &__item--city-west
    }
}